<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>speed</key>
			<string>1m/s</string>
			<key>longitude</key>
			<string>116.30095</string>
			<key>latitude</key>
			<string>39.852136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>2m/s</string>
			<key>longitude</key>
			<string>116.40095</string>
			<key>latitude</key>
			<string>39.852136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>3m/s</string>
			<key>longitude</key>
			<string>116.40095</string>
			<key>latitude</key>
			<string>39.932136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>4m/s</string>
			<key>longitude</key>
			<string>116.51095</string>
			<key>latitude</key>
			<string>39.832136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>5m/s</string>
			<key>longitude</key>
			<string>116.48095</string>
			<key>latitude</key>
			<string>39.982136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>6m/s</string>
			<key>longitude</key>
			<string>116.58095</string>
			<key>latitude</key>
			<string>39.982136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>7m/s</string>
			<key>longitude</key>
			<string>116.42095</string>
			<key>latitude</key>
			<string>39.832136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>8m/s</string>
			<key>longitude</key>
			<string>116.42095</string>
			<key>latitude</key>
			<string>39.902136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>9m/s</string>
			<key>longitude</key>
			<string>116.44095</string>
			<key>latitude</key>
			<string>39.902136</string>
		</dict>
		<dict>
			<key>speed</key>
			<string>10m/s</string>
			<key>longitude</key>
			<string>116.44095</string>
			<key>latitude</key>
			<string>39.932136</string>
		</dict>
	</array>
</dict>
</plist>
